/* Light mode styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark body {
  background-color: #000000;
  color: #ffffff;
}


.bg-hero-image {
  /* Specify the URL of the GIF image */
  background-image: url('./assets/coding.gif');
  background-size: cover;
  background-position: center;
  animation: mymove 5s infinite;
}

.bg-about-image {
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center;
}
